<div class="container">
  <div class="well well-sm text-center">
    <div class="checkbox checkbox-warning" >
      <ng-container *ngFor="let activity of activityCategories">

        <input [(ngModel)]="activity.selected" id={{activity.id}} type="checkbox" class="styled"
               (change)="getFilteredActivities()">
        <label for={{activity.id}}>
          <!--{{activity.value}}-->
          {{'activities.categoryTypes.'+activity.activityType|translate}}
        </label>

      </ng-container>
    </div>
  </div>
</div>

<ng-container *ngFor="let activity of activities">
  <div class="row custom">
    <div class="col-lg-10 col-md-10 mx-auto m-2">
      <div class="post-preview">
        <img class="img-responsive img-left" src="../../assets/img/userIcons/{{(activity.friendId%50)+1}}.png" alt="logo"
             width="70" height="70" alt="Avatar">
        <!--achievement-->
        <h5 *ngIf="activity.type==category.ACHIEVEMENT">
          {{'activities.user' | translate}} <a routerLink="../users/{{activity.friendId}}">{{activity.friendLogin}}</a> {{'activities.getAchievement' | translate}}
          <q>{{activity.activityContent}}</q>.
        </h5>
        <!--added new quiz-->
        <h5 *ngIf="activity.type==category.PUBLISH_QUIZ">
          {{'activities.user' | translate}} <a routerLink="../users/{{activity.friendId}}">{{activity.friendLogin}}</a> {{'activities.createQuiz' | translate}}
          <a routerLink="../quiz/{{activity.activityId}}"><q>{{activity.activityContent}}</q></a>
          .
        </h5>
        <!--mark quiz as favourite-->
        <h5 *ngIf="activity.type==category.MARK_AS_FAVORITE">
          {{'activities.user' | translate}} <a routerLink="../users/{{activity.friendId}}">{{activity.friendLogin}}</a>
          {{'activities.addQuiz' | translate}} <a routerLink="../quiz/{{activity.activityId}}"><q>{{activity.activityContent}}</q></a>
          {{'activities.favouriteList' | translate}}.
        </h5>
        <!--add to friends-->
        <h5 *ngIf="activity.type==category.ADD_FRIEND">
          {{'activities.user' | translate}} <a routerLink="../users/{{activity.friendId}}">{{activity.friendLogin}}</a> {{'activities.addUser' | translate}}
          <a routerLink="../users/{{activity.activityId}}">{{activity.activityContent}}</a>
          {{'activities.toFriends' | translate}}.
        </h5>

        <p class="post-meta">{{activity.activityDate| date:"MMMM d, yyyy h:mma"}}</p>
        <hr>
      </div>
    </div>
  </div>

</ng-container>
