<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-favorite" role="tab"
       aria-controls="nav-favorite" aria-selected="true">Favorite</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-completed" role="tab"
       aria-controls="nav-completed" aria-selected="false">Completed</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-created" role="tab"
       aria-controls="nav-created" aria-selected="false">Created</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-favorite" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
  <div class="tab-pane fade" id="nav-completed" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
  <div class="tab-pane fade" id="nav-created" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>
