<!--
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
-->
<div class="container" *ngIf="quiz">
  <p class="text-center">{{quiz.name | uppercase}}</p>

  <div class="row mx-0">

    <div class="col-sm-3">
      <img class="card-img-top" src="data:image/jpeg;base64,{{quiz.image.src}}" alt="Card image cap">
    </div>


    <div class="col-sm-9">

      <div class="row mx-0">
        <label class="col-sm m-3 border-0">
          Quiz name
          <label class="form-control h-auto">{{quiz.name}}</label>
        </label>

        <label class="col-sm m-3 border-0">
          Category
          <label class="form-control">{{quiz.category.name}}</label>
        </label>
      </div>

      <div class="mat-app-background" *ngIf="quiz.tags.length>0">
        <mat-form-field class="example-chip-list w-100">
          <mat-chip-list aria-label="Fruit selection w-100" placeholder="Tags" >
            <mat-chip
              *ngFor="let tag of quiz.tags">
              {{tag.name}}
            </mat-chip>
          </mat-chip-list>
        </mat-form-field>
      </div>

    </div>

  </div>

  <div *ngIf="securityService.getCurrentId() &&
  (securityService.getCurrentRole()!='USER'|| securityService.getCurrentId()==quiz.authorId)">
    <ng-container *ngFor="let question of quiz.questions">
      <div class="form-control h-auto row mx-0 my-1 p-4 border-dark border">

        <div class="col-sm-3">
          <img *ngIf="question.imageId!=-1" class="img-preview-container img-preview"
               src="data:image/jpeg;base64,{{question.image.src}}"
               alt="Card image cap">
        </div>

        <div class="col-sm-9">

          <div>
            <label class="col-sm m-1">Type: {{question.type}}</label>
          </div>
          <br>
          <div>
            <h2 class="col-sm  m-1">{{question.content}}</h2>
          </div>

          <div *ngIf="question.type=='SELECT_OPTION'">
            <div class="row mx-0" *ngFor="let questionOption of question.options">

              <label class="w-50 col m-1 border border-{{questionOption.isCorrect? 'success':'danger'}}">
                {{questionOption.content}}
              </label>
              <div class="col">
                <img *ngIf="questionOption.imageId!=-1" class="img-preview-container img-preview "
                     src="data:image/jpeg;base64,{{questionOption.image.src}}" alt="Card image cap">
              </div>

            </div>
          </div>

          <div *ngIf="question.type=='SELECT_SEQUENCE'">
            <div class="row mx-0" *ngFor="let questionOption of  question.options">

              <label for="{{question.id+questionOption.sequenceOrder}}">{{questionOption.sequenceOrder}}</label>
              <input id="{{question.id+questionOption.sequenceOrder}}" [(ngModel)]="questionOption.content"
                     class="w-50 m-1" readonly>
              <div class="col">
                <img *ngIf="questionOption.imageId!=-1" class="img-preview-container img-preview"
                     src="data:image/jpeg;base64,{{questionOption.image.src}}" alt="Card image cap">
              </div>

            </div>
          </div>

          <div *ngIf="question.type=='TRUE_FALSE'" class="row mx-0">
            <div class="col-sm-4 mx-3 btn btn-{{question.options[0].isCorrect?'primary': 'secondary'}}">
              True
            </div>
            <div class="col-sm-4 mx-3 btn btn-{{question.options[0].isCorrect?'secondary': 'primary'}}">
              False
            </div>
          </div>

          <div *ngIf="question.type=='ENTER_ANSWER'">
            <input [(ngModel)]="question.options[0].content" class="form-control w-75 m-1" readonly>
          </div>
        </div>

      </div>

    </ng-container>

  </div>


</div>
