<div class="container">

  <div *ngIf="isConfirmed; else tokenUnavailable">

    <div class="row form-group">
      <div class="col-sm"></div>
      <div class="col-sm">
        <h3>{{ 'AUTHENTICATION.PASS_RECOVERY.NEW_PASSWORD_MSG' | translate }}</h3>
      </div>
      <div class="col-sm"></div>
    </div>

    <div class="row form-group">
      <div class="col-sm"></div>
      <div class="col-sm">
        <input type="password" class="form-control" placeholder="password" #password>
      </div>
      <div class="col-sm"></div>
    </div>

    <div class="row form-group">
      <div class="col-sm"></div>
      <div class="col-sm text-center">
        <button class="btn btn-block btn-warning" (click)="createNewPass(password.value)">
          {{ 'AUTHENTICATION.PASS_RECOVERY.APPLY' | translate }}
        </button>
      </div>
      <div class="col-sm"></div>
    </div>

  </div>

  <ng-template #tokenUnavailable>
    <div class="col-sm text-center">
      <h3>{{ 'AUTHENTICATION.PASS_RECOVERY.UNAVAILABLE' | translate }}</h3>
    </div>
  </ng-template>

</div>
