<div *ngIf="stat.length!=0">
  <h4 *ngIf="stat.length>0"><p style="text-align:center">{{'DASHBOARD.CORRECT_PERCENT' | translate}}</p></h4>
          <div echarts [options]="options" class="demo-chart"
               (chartInit)="onChartEvent($event, 'chartInit')"
               (chartClick)="onChartEvent($event, 'chartClick')"
               (chartDblClick)="onChartEvent($event, 'chartDblClick')"
               (chartMouseDown)="onChartEvent($event, 'chartMouseDown')"
               (chartMouseUp)="onChartEvent($event, 'chartMouseUp')"
               (chartMouseOver)="onChartEvent($event, 'chartMouseOver')"
               (chartMouseOut)="onChartEvent($event, 'chartMouseOut')"
               (chartGlobalOut)="onChartEvent($event, 'chartGlobalOut')"
               (chartContextMenu)="onChartEvent($event, 'chartContextMenu')"
               (chartDataZoom)="onChartEvent($event, 'chartDataZoom')"
          ></div>
</div>
