<div class="row">
  <a class="form-control btn btn-outline-dark" routerLink="/createAnnouncement">{{ 'ANNOUNCEMENT.CREATE BUTTON' | translate }}</a>
</div>
<div *ngIf="role != roleEnum.USER && role" class="float-right my-2">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-outline-secondary active">
      <input (click)="getPublished()" type="radio" name="options" id="option1" autocomplete="off" checked> Published
    </label>
    <label class="btn btn-outline-secondary">
      <input (click)="getUnpublished()" type="radio" name="options" id="option2" autocomplete="off"> Unpublished
    </label>
  </div>
</div>
<ng-container *ngFor="let announcement of announcements">
  <div class="row custom">
    <div class="col-lg-10 col-md-10 mx-auto m-2" routerLink="/announcement/{{announcement.id}}">
      <div class="post-preview">
        <h2 class="post-title mt-4 font-weight-bolder">
          {{announcement.title}}
        </h2>
        <h2 class="lead">
          {{announcement.subtitle}}
        </h2>
        <p class="post-meta">{{ 'ANNOUNCEMENT.POST BY' | translate }}
          {{announcement.authorLogin}}
           {{  announcement.createdDate | date: 'longDate' : '' : translate.currentLang }}</p>
        <hr>
      </div>
    </div>
  </div>
</ng-container>
<br>
<br>
<app-spin-cat class="p-3" [show]="isWaiting" [text]="'ANNOUNCEMENT.waitLoad'"></app-spin-cat>
