.nav-item{
  padding:2px;
  margin-left: 7px;
}

.registr {
  alignment: right;
  background: #FFA700;
  color: #ffffff;
}

.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.brand-ref {
  font-size: 30px;
  color: #FFA700;
  font-weight: bold;
  text-decoration: none;
}

.header-link {
  color: black;
  font-size: 15px;
}
