<button class="form-control btn btn-warning mb-3" (click)="createChat()" >Create chat</button>
<!--<input type="text" placeholder="Search chat" class="form-control border border-warning  mb-3">-->

<ng-container *ngFor="let chat of chats">
  <div class="chat_list" routerLink="../chat/{{chat.id}}">
    <img src="assets/img/main.png" class="avatar rounded-circle" alt="Avatar">
    <div class="chat_ib">
      <h5>{{chat.name}}
        <span class="chat_date">{{chat.creationDate | date:'medium'}}</span>
      </h5>
      <p>Test, which is a new approach to have all solutions
        astrology under one roof.</p>
    </div>
  </div>
</ng-container>


