<div class="container mt-3">
  <div *ngIf="isInvalid" class="w-100 alert border-danger">
    {{'DASHBOARD.ACHIEVEMENT_VALIDATION.'+ message | translate}} <span *ngIf="number!=0"> {{number}}</span>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label>{{'DASHBOARD.ACHIEVEMENTS_NAME' | translate}}</label>
        <input type="text" class="form-control" [(ngModel)]="achievement.name"/>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label>{{'DASHBOARD.ACHIEVEMENTS_DESCRIPTION' | translate}}</label>
        <input type="text" class="form-control" [(ngModel)]="achievement.description"/>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-9 m-2">
    <button class="btn btn-primary btn-block" (click)="addCondition()">{{'DASHBOARD.ACHIEVEMENTS_ADD_CONDITION' | translate}}</button>
    </div>
        <div class="col-9">
      <section class="container border mb-4 p-3" *ngFor="let condition of conditions; let i = index;">
        <div class="row">
          <div class="col-4">
            <h4>{{'DASHBOARD.ACHIEVEMENTS_CONDITION' | translate}} {{i + 1}}</h4>
          </div>
          <div class="col-4 text-right offset-4">
            <button type="button" class="btn btn-danger btn-sm" (click)="removeCondition(i)">{{'DASHBOARD.ACHIEVEMENTS_REMOVE_CONDITION' | translate}}</button>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>{{'DASHBOARD.ACHIEVEMENTS_CHARACTERISTIC' | translate}}</label>
              <select [(ngModel)]="condition.characteristicId" class="form-control">
                <option *ngFor="let characteristic of characteristics; let i = index" [value]="characteristic.id">
                  {{characteristic.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label>{{'DASHBOARD.ACHIEVEMENTS_OPERATOR' | translate}}</label>
              <select class="form-control" [(ngModel)]="condition.operator">
                <option [value]="operatorName[0]">{{operators.LESS}}</option>
                <option [value]="operatorName[1]">{{operators.EQUALS}}</option>
                <option [value]="operatorName[2]">{{operators.GREATER}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>{{'DASHBOARD.ACHIEVEMENTS_VALUE' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="condition.value"/>
            </div>
          </div>
        </div>
      </section>
      <button
        (click)="send()"
        class="btn btn-warning btn-block">
        {{'DASHBOARD.ACHIEVEMENTS_CREATE' | translate}}
      </button>
    </div>
  </div>
</div>
