  <div *ngIf="role == roleEnum.USER">
    <div class="mx-auto">
      <app-played-quiz-score></app-played-quiz-score>
    </div>
    <div class="mx-auto">
      <app-friends-preference></app-friends-preference>
    </div>
    <div class="mx-auto">
      <app-correct-answers-percent></app-correct-answers-percent>
    </div>
  </div>
  <div *ngIf="role == roleEnum.ADMIN || role == roleEnum.MODERATOR || role == roleEnum.SUPER_ADMIN">
    <div class="mx-auto">
      <app-played-quizzes-amount></app-played-quizzes-amount>
    </div>
    <div class="mx-auto">
      <app-quizzes-status></app-quizzes-status>
    </div>
  </div>
