
.logo-image{
  margin: -5px;
  width: 65px;
  height: 60px;
  overflow: hidden;
}

.header-link {
  color: black;
  font-size: 15px;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.custom-nav{
  margin-top: -15px;
  margin-bottom: 15px;
}

.custom-link:hover{
  cursor: pointer;
}

#header{
  margin-top: -20px;
  margin-right: -20px;
  margin-left: -20px;
}

.changeLangEvent{
  color: blue;
}

.changeLangEvent:hover{
  cursor: pointer;
}

.active{
  color: black;
}

.active:hover{
  cursor: auto;
}
