<nav class="navbar navbar-expand-lg navbar-light custom-nav" style="background-color: #ffc107">

  <a class="navbar-brand ml-3 mr-3" href="">
    <img src='assets/img/logo.png' class="logo-image" alt="Qucat">
  </a>

  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="basicExampleNav">

    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link font-weight-bold" routerLink="/createQuiz">Створити гру
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link font-weight-bold" routerLink="/home">Приєднатися до гри</a>
      </li>
      <li class="nav-item ml-5">
        <a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="notProfile">Увійти</a>
      </li>
      <li class="nav-item" *ngIf="notProfile">
        <a class="nav-link" routerLink="/registration"
           routerLinkActive="active">Зареєструватися</a>
      </li>
    </ul>

    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" (keyup.enter)="search($event)">
      </div>
    </form>

    <img src='../../../../assets/img/message.png' class="ml-3" *ngIf="isProfile">
    <img src='../../../../assets/img/notification.png' width="70" height="50" *ngIf="isProfile">
  </div>

</nav>
