
.logo-image{
  width: 46px;
  height: 46px;
  overflow: hidden;
}

.header-link {
  color: black;
  font-size: 15px;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.custom-nav{
  margin-top: -15px;
  margin-bottom: 15px;
}

.custom-link:hover{
  cursor: pointer;
}

