<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<nav id="header" class="navbar navbar-expand-lg navbar-light custom-nav" style="background-color: #ffc107">
  <button type="button" id="sidebarCollapse" class="bg-warning navbar-btn" [ngClass]="{'active': isOpened}"
          (click)="clicked()">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <a class="navbar-brand ml-3" href="">
    <img src='assets/img/animal.png' class="logo-image" alt="Qucat">
  </a>

  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"  id="basicExampleNav">

    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
      </li>

    </ul>
    <div class="languageChange mr-3">
      <span class="material-icons align-middle">language</span>
      <ng-container *ngFor="let lang of translate.getLangs() let i = index">
            <span (click)="translate.use(lang)" class="changeLangEvent"
                  [ngClass]="{active: translate.currentLang==lang}">{{lang}}</span>
        <span *ngIf="i!=translate.getLangs().length-1">/</span>
      </ng-container>
    </div>

      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Пошук вікторин" aria-label="Search"
               (keyup.enter)="search($event)">
      </div>

    <app-message-menu *ngIf="authService.isAuthenticated()" (isMessage)="getMessage($event)" [showMessage]="showMessage"></app-message-menu>
    <app-notification-menu *ngIf="authService.isAuthenticated()"  (isNotification)="getNotification($event)" [showNotification]="showNotification"></app-notification-menu>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!authService.isAuthenticated()">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">{{ 'HEADER.LOGIN' | translate }}</a>
      </li>
      <li class="nav-item" *ngIf="!authService.isAuthenticated()">
        <a class="nav-link" routerLink="/registration"
           routerLinkActive="active">{{ 'HEADER.SIGN UP' | translate }}</a>
      </li>
      <li class="nav-item custom-link" *ngIf="authService.isAuthenticated()">
        <a class="nav-link" (click)="logout()" routerLinkActive="active">Вийти</a>
      </li>
    </ul>
  </div>
</nav>
