<div class="row form-group">
  <div class="col-sm"></div>
  <div class="col-sm">
    <h3>Password recovery</h3>
    <div>Please, enter your email to reset the password</div>
  </div>
  <div class="col-sm"></div>
</div>

<div class="row form-group">
  <div class="col-sm"></div>
  <div class="col-sm">
    <input type="email" class="form-control" placeholder="email" #email>
  </div>
  <div class="col-sm"></div>
</div>

<div class="row form-group">
  <div class="col-sm"></div>
  <div class="col-sm text-center">
    <button class="btn btn-block btn-warning" (click)="reset(email.value)">
      Recover
    </button>
  </div>
  <div class="col-sm"></div>
</div>
