<div class="sideprofile" *ngIf="isAdmin">
  <a href="#/api/v1/profile">Профіль</a>
  <a href="#">Список вікторин</a>
  <a href="#">Повідомлення</a>
  <a href="#">Новини</a>
  <a href="#">Адміністрування</a>
  <a href="#">Налаштування</a>
  <a href="#">Вийти</a>
</div>
<div class="sideprofile" *ngIf="isUser">
  <a href="#/api/v1/profile">Профіль</a>
  <a href="#">Список вікторин</a>
  <a href="#">Друзі</a>
  <a href="#">Повідомлення</a>
  <a href="#">Новини</a>
  <a href="#">Учасники</a>
  <a href="#">Статистика</a>
  <a href="#">Досягнення</a>
  <a href="#">Налаштування</a>
  <a href="#">Вийти</a>
</div>
