<div class="container">

  <div class="table-wrapper">

    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th></th>
        <th>{{ 'USERLIST.LOGIN' | translate }}</th>
        <th>{{ 'USERLIST.NAME' | translate }}</th>
        <th>{{ 'USERLIST.DATE' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let user of users">
        <tr routerLink="/users/{{user.id}}">
          <td><img src="assets/img/userIcons/{{(user.id%50)+1}}.png" height="50" class="avatar" alt="Avatar"></td>
          <td><a routerLink="/users/{{user.id}}" > {{user.login}}</a></td>
          <td>{{user.firstName}} {{user.secondName}}</td>
          <td>{{user.registrationDate | date:'MMMM d, yyyy'}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
