<!--
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
-->
<div class="container">
  <p class="text-center">Create quiz</p>

  <div class="row mx-0">

    <div class="col-sm-3">
      <label class="image-upload-container btn btn-bwm">
        <input class="d-none" #imageInput
               type="file"
               accept="image/*"
               (change)="processFile(imageInput, quiz)">
        <div class="img-preview-container img-preview"
             [ngStyle]="{'background-image': 'url('+
       (quiz.image.src ? quiz.image.src : '../../../../assets/img/logo.png') +')'}">
        </div>
      </label>
    </div>


    <div class="col-sm-9">

      <div class="row mx-0">
        <input [(ngModel)]="quiz.name" class="col-sm m-3 form-control" placeholder="Enter quiz name" required minlength="4">
        <select #mySelect class="col-sm form-control m-3" id="categories" (change)="setCategory(mySelect.value)"><!--or custom select-->
          <ng-container *ngFor="let category of categories">
            <option [attr.selected]="category.name==quiz.category.name ? true : null"
                    [value]="category.name">{{category.name}}</option>
          </ng-container>
        </select>
      </div>

      <div class="mat-app-background">
        <mat-form-field class="example-chip-list w-100">
          <mat-chip-list #chipList aria-label="Fruit selection w-100">
            <mat-chip
              *ngFor="let tag of quiz.tags"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(tag)">
              {{tag.name}}
              <mat-icon matChipRemove *ngIf="removable">x</mat-icon>
            </mat-chip>
            <input
              placeholder="New tag..."
              #fruitInput
              [formControl]="tagCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
              {{tag}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

    </div>

  </div>

  <div>
    <ng-container *ngFor="let question of quiz.questions">
      <div class="row mx-0 my-1 p-4 border-dark border">

        <div class="col-sm-3">
          <label *ngIf="!question.image.src" class="image-upload-container btn btn-bwm btn-warning">
            <span>Select Image</span>
            <input class="d-none" #imageInput
                   type="file"
                   accept="image/*"
                   (change)="processFile(imageInput, question)">
          </label>

          <label *ngIf="question.image.src" class="image-upload-container btn btn-bwm">
            <input class="d-none" #imageInput
                   type="file"
                   accept="image/*"
                   (change)="processFile(imageInput, question)">
            <div class="img-preview-container img-preview"
                 [ngStyle]="{ 'background-image': 'url(' + question.image.src  + ')'}">
            </div>
          </label>
        </div>

        <div class="col-sm-9">

          <div>
            <select #mySelect class="custom-select m-1"
                    (change)="onChangeTypeQuestion(question, mySelect.value)">
              <option [attr.selected]="question.type=='SELECT_OPTION' ? true : null"
                      [value]="'SELECT_OPTION'">SELECT OPTION
              </option>
              <option [attr.selected]="question.type=='SELECT_SEQUENCE' ? true : null"
                      [value]="'SELECT_SEQUENCE'">SELECT SEQUENCE
              </option>
              <option [attr.selected]="question.type=='TRUE_FALSE' ? true : null"
                      [value]="'TRUE_FALSE'">TRUE / False
              </option>
              <option [attr.selected]="question.type=='ENTER_ANSWER' ? true : null"
                      [value]="'ENTER_ANSWER'">ENTER ANSWER
              </option>
            </select>
          </div>
          <div>
            <input [(ngModel)]="question.content" class="col-sm m-1" placeholder="Question"/>
          </div>

          <div [ngSwitch]="question.type">
            <div *ngSwitchCase="'SELECT_OPTION'">
              <div class="row mx-0" *ngFor="let questionOption of question.options">
                <input [(ngModel)]="questionOption.content"
                       placeholder="{{questionOption.isCorrect? 'Correct' : 'Wrong'}} answer"
                       class="questionOption w-50 col m-1 border border-{{questionOption.isCorrect? 'success':'danger'}}"/>
                <div>
                  <label *ngIf="!questionOption.image.src" class="image-upload-container btn btn-bwm btn-warning">
                    <span>Select Image</span>
                    <input class="d-none" #imageInput
                           type="file"
                           accept="image/*"
                           (change)="processFile(imageInput, questionOption)">
                  </label>

                  <label *ngIf="questionOption.image.src" class="image-upload-container btn btn-bwm">
                    <input class="d-none" #imageInput
                           type="file"
                           accept="image/*"
                           (change)="processFile(imageInput, questionOption)">
                    <div class="img-preview-container img-preview"
                         [ngStyle]="{ 'background-image': 'url(' + questionOption.image.src  + ')'}">
                    </div>
                  </label>
                </div>

              </div>

            </div>

            <div *ngSwitchCase="'SELECT_SEQUENCE'">
              <div class="row mx-0" *ngFor="let questionOption of  question.options">
                <label for="{{questionOption.sequenceOrder}}" class="questionOption">{{questionOption.sequenceOrder}}</label>
                <input  id="{{questionOption.sequenceOrder}}" [(ngModel)]="questionOption.content"
                       placeholder="answer" class="w-50 m-1 questionOption">
                <div>
                  <label *ngIf="!questionOption.image.src" class="image-upload-container btn btn-bwm btn-warning">
                    <span>Select Image</span>
                    <input class="d-none" #imageInput
                           type="file"
                           accept="image/*"
                           (change)="processFile(imageInput, questionOption)">
                  </label>

                  <label *ngIf="questionOption.image.src" class="image-upload-container btn btn-bwm">
                    <input class="d-none" #imageInput
                           type="file"
                           accept="image/*"
                           (change)="processFile(imageInput, questionOption)">
                    <div class="img-preview-container img-preview"
                         [ngStyle]="{ 'background-image': 'url(' + questionOption.image.src  + ')'}">
                    </div>
                  </label>
                </div>

              </div>
            </div>

            <div *ngSwitchCase="'TRUE_FALSE'" class="row mx-0">
              <div class="col-sm-4 mx-3 btn btn-{{question.options[0].isCorrect?'primary': 'secondary'}}"
                   (click)="setCorrectAnswer(question, true)">
                True
              </div>
              <div class="col-sm-4 mx-3 btn btn-{{question.options[0].isCorrect?'secondary': 'primary'}}"
                   (click)="setCorrectAnswer(question, false)">
                False
              </div>
            </div>

            <div *ngSwitchCase="'ENTER_ANSWER'">
              <input [(ngModel)]="question.options[0].content" placeholder="correct answer"
                     class="questionOption w-75 m-1">
            </div>
          </div>





        </div>

      </div>

    </ng-container>

  </div>


  <div class="text-center row">
    <button (click)="addQuestion()" class="btn btn-warning px-5 m-3">
      Add question
    </button>
    <button (click)="send()" class="btn btn-success px-5 m-3">
      Send
    </button>
  </div>
  <div *ngIf="isInvalid" class="w-100 alert border-danger">
    {{message}}
  </div>
</div>
