<div class="row">
  <div class="container">
    <div class="row justify-content-md-left">
      <div class="col-md-auto">
        <label class="image-upload-container btn btn-bwm">
          <input class="d-none" #imageInput
                 type="file"
                 accept="image/*"
                 (change)="processFile(imageInput, userData)">
          <div class="img-preview-container img-preview"
               *ngIf="userData.imageId==-1"
               [ngStyle]="{'background-image': 'url(../../assets/img/main.png'}">
          </div>
          <div class="img-preview-container img-preview"
               *ngIf="userData.imageId!=-1"
               [ngStyle]="{ 'background-image': 'url(data:image/jpeg;base64,' + userData.image.src  + ')'}">
          </div>
        </label>
        <button *ngIf="isOwn" class="btn btn-warning btn-block" routerLink="../edit">
          Редагувати
        </button>
        <button *ngIf="!isOwn && !isFriend" class="btn btn-warning btn-block" (click)="friendship()">
          Додати до друзів
        </button>
        <button *ngIf="!isOwn && isFriend" class="btn btn-warning btn-block" (click)="friendship()">
          Видалити з друзів
        </button>
        <button *ngIf="role == roleEnum.ADMIN && isOwn" class="btn btn-warning btn-block"
                (click)="recalculateAchievement()">
          Перерахувати досягення
        </button>
        <!--<img src="../../assets/img/main.png" width="250" height="270">-->
      </div>
      <div class="col-md-auto">
        <table class="table table-borderless h5">
          <tbody>
          <tr>
            <td style="text-align: left">Login:</td>
            <td style="text-align: left">{{userData.login}}</td>
          </tr>
          <tr>
            <td style="text-align: left">Name:</td>
            <td style="text-align: left">{{userData.firstName}}</td>
          </tr>
          <tr>
            <td style="text-align: left">Surname:</td>
            <td style="text-align: left">{{userData.secondName}}</td>
          </tr>
          <tr>
            <td style="text-align: left">Description:</td>
            <td style="text-align: left">{{userData.profile}}</td>
          </tr>
          <tr *ngIf="role == roleEnum.USER">
            <td style="text-align: left">Murrs:</td>
            <td style="text-align: left"> {{userData.score}}</td>
          </tr>
          <tr *ngIf="role == roleEnum.USER">
            <td style="text-align: left"><img src="../../assets/img/score.png" width="80" height="80" align="bottom"/></td>
            <td style="text-align: left"></td>
          </tr>

          </tbody>
        </table>
      </div>
      <div class="col-md-4 ">

      </div>
    </div>
  </div>

  <div class="w-100" align="center">
    <div *ngIf="role == roleEnum.USER">
      <!--<h4><p style="margin-left: 40px" align="center">Рекомендовані вікторини</p></h4>
      <img src="../../../../assets/img/quiz.jpg" width="90" height="92" align="middle" class="leftpic" />
      <img src="../../../../assets/img/quiz.jpg" width="90" height="92" align="middle" class="leftpic" />
      <img src="../../../../assets/img/quiz.jpg" width="90" height="92" align="middle" class="leftpic" />
      <img src="../../../../assets/img/quiz.jpg" width="90" height="92" align="middle" class="leftpic" />
        <img src="../../../../assets/img/quiz.jpg" width="90" height="92" align="middle" class="leftpic" />-->
      <h4><p style="text-align:center">Досягнення</p></h4>
      <app-achievements-list [currentId]="id"></app-achievements-list>
    </div>
    <!--    <div class="col-sm" *ngIf="role == roleEnum.ADMIN"></div>
        <div class="col-sm" *ngIf="role == roleEnum.SUPER_ADMIN"></div>
        <div class="col-sm" *ngIf="role == roleEnum.MODERATOR"></div>-->
  </div>
</div>
