.leftpic {
  margin: 20px 20px 20px 20px;
}
.image-upload-container {
  cursor: pointer;
}


.img-preview-container {
  position: relative;

  background: #ffffff no-repeat center center;
  background-size: contain;
  height: 270px !important;
  width: 250px !important;

  .img-preview {
  }

}

.btn-bwm {
  margin: 15px 30px;
  /*background-color: greenyellow;
  border-color: greenyellow;
  color: white;
  padding: 5px 10px;
  font-size: 20px;

  &:hover, &:focus, &:active {
    border-color: greenyellow !important;
    background-color: greenyellow !important;
  }*/
}
