<!--<div class="sidenav" *ngIf="notProfile">
  <a routerLink="../quizzes">Список вікторин</a>
  <a href="#">Рейтинг учасників</a>
</div>
<div class="sidenav" *ngIf="isAdmin">
  <a href="#/api/v1/profile">Профіль</a>
  <a href="#">Список вікторин</a>
  <a href="#">Повідомлення</a>
  <a href="#">Новини</a>
  <a href="#">Адміністрування</a>
  <a href="#">Налаштування</a>
  <a href="#">Вийти</a>
</div>
<div class="sidenav" *ngIf="isUser">
  <a href="#/api/v1/profile">Профіль</a>
  <a href="#">Список вікторин</a>
  <a href="#">Друзі</a>
  <a href="#">Повідомлення</a>
  <a href="#">Новини</a>
  <a href="#">Учасники</a>
  <a href="#">Статистика</a>
  <a href="#">Досягнення</a>
  <a href="#">Налаштування</a>
  <a href="#">Вийти</a>
</div>-->

<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-brand">
      <img src='assets/img/Qucat.png' routerLink="../home" class="logo-image" alt="Qucat">
    </div>
<hr>
    <ul class="sidebar-nav components pl-4">
      <li *ngIf="authenticationService.isAuthenticated()">
        <a routerLink="../profile">{{'SIDENAV.PROFILE' | translate}}</a>
      </li>
      <li *ngIf="securityService.getCurrentRole()==roleEnum.USER && authenticationService.isAuthenticated()">
        <a routerLink="../friends">{{'SIDENAV.FRIENDS' | translate}}</a>
      </li>
      <li *ngIf="securityService.getCurrentRole()==roleEnum.USER && authenticationService.isAuthenticated()">
        <a routerLink="../chats">{{'SIDENAV.CHATS' | translate}}</a>
      </li>
      <li *ngIf="securityService.getCurrentRole()==roleEnum.USER && authenticationService.isAuthenticated()">
        <a routerLink="../activities">{{'SIDENAV.ACTIVITY' | translate}}</a>
      </li>
      <li *ngIf="authenticationService.isAuthenticated()">
        <a routerLink="../userQuizzes">{{'SIDENAV.MY_QUIZZES' | translate}}</a>
      </li>
      <li *ngIf="authenticationService.isAuthenticated()">
        <a routerLink="../profile/dashboard">{{'SIDENAV.STATISTIC' | translate}}</a>
      </li>
      <li *ngIf="authenticationService.isAuthenticated()">
        <a routerLink="../users">{{'SIDENAV.USERS' | translate}}</a>
      </li>
      <li>
        <a routerLink="../quizzes">{{'SIDENAV.QUIZZES' | translate}}</a>
      </li>
      <li>
        <a routerLink="../announcements">{{'SIDENAV.ANNOUNCEMENTS' | translate}}</a>
      </li>
      <li *ngIf="securityService.getCurrentRole()==roleEnum.USER && authenticationService.isAuthenticated()">
        <a routerLink="../top">{{'SIDENAV.TOP' | translate}}</a>
      </li>
      <li *ngIf="(securityService.getCurrentRole()==roleEnum.ADMIN || securityService.getCurrentRole()==roleEnum.ADMIN) && authenticationService.isAuthenticated()">
        <a routerLink="../achievements/create">{{'SIDENAV.ACHIEVEMENT' | translate}}</a>
      </li>
      <li *ngIf="securityService.getCurrentRole() == roleEnum.SUPER_ADMIN && authenticationService.isAuthenticated()">
        <a routerLink="../createAdmin">{{'SIDENAV.CREATE_ADMIN' | translate}}</a>
      </li>
      <li *ngIf="securityService.getCurrentRole() == roleEnum.ADMIN && authenticationService.isAuthenticated()">
        <a routerLink="../createAdmin">{{'SIDENAV.CREATE_MODER' | translate}}</a>
      </li>
    </ul>

   <!-- <ul class="list-unstyled CTAs">
      <li>
        <a href="https://github.com/Yevhenii-Babiuk/Quiz" class="article">Go to source</a>
      </li>
    </ul>-->

    <div id="scrollTop" (click)= "onScrollClick()">

    </div>
  </nav>
</div>
