<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<button class="btn btn-warning form-control mb-3" routerLink="../createQuiz">
  Create quiz
</button>

<div class="row">

  <div class="row mx-0 w-75">

    <ng-container *ngFor="let quiz of quizzes">
      <div class="col-sm-3 card border-0" routerLink="/quiz/{{quiz.id}}">
        <img *ngIf="quiz.image" class="card-img-top" src="data:image/jpeg;base64,{{quiz.image.src}}"
             alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{quiz.name}}</h5>
          <div class="card-text">
            <small class="text-muted">
          <span *ngFor="let tag of quiz.tags; let isLast=last">
            {{tag.name}}{{isLast ? '' : ', '}}
          </span>
            </small>
            <p *ngIf="quiz.category" class="text-muted">{{quiz.category.name}}</p>

            <p><span class="material-icons ">emoji_events</span>
              {{quiz.maxScore}}
            </p>

          </div>
        </div>
      </div>
    </ng-container>

  </div>
  <div class="w-25">
    <app-vertical-filter-bar [filters]="verticalBarFilters"></app-vertical-filter-bar>
  </div>

</div>
