<div class="row">
  <div class="w-75">
    <app-quiz-list class="w-75 p-3" [quizzes]="quizzes"></app-quiz-list>
    <app-spin-cat [show]="isWaiting" [text]="'quiz.waitLoad'"></app-spin-cat>
  </div>

  <div class="w-25">
    <button *ngIf="securityService.getCurrentRole()=='USER'" class="btn btn-warning form-control mb-3" routerLink="../createQuiz">
      {{ 'quiz.createQuiz' | translate }}
    </button>
    <app-vertical-filter-bar [filters]="verticalBarFilters"></app-vertical-filter-bar>
  </div>

</div>
