<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="row mx-0">

  <ng-container *ngFor="let quiz of quizzes">
    <div class="col-sm-3 card border-0" routerLink="/api/v1/quizzes/quiz/{{quiz.id}}">
      <img class="card-img-top" src="https://i.uaportal.com/2020/2/1/screenshot4.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{quiz.name}}</h5>
        <div class="card-text">
          <small class="text-muted">
          <span *ngFor="let tag of quiz.tags; let isLast=last">
            {{tag.name}}{{isLast ? '' : ', '}}
          </span>
          </small>
          <p class="text-muted">{{quiz.category.name}}</p>

          <p><span class="material-icons ">emoji_events</span>
            {{quiz.maxScore}}
          </p>

        </div>
      </div>
    </div>
  </ng-container>

</div>

