.start-pos {
  margin-top: 80px;
  margin-left: 200px;
}


.act {
  background: #FFA700;
  color: black;
  border: none;
  margin-bottom: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 130px;
}
