.act {
  background: #FFA700;
  color: black;
  border: none;
  margin-bottom: 5px;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  width: 135px;
}
.menu {
  display:flex;
  max-width: 100%;
  height: auto
}
table {
  border: #2d2d2d;
  width: 1300px;
  margin: auto;
}
td {
  vertical-align: top;
}
.leftpic {
  margin: 20px 20px 20px 20px;
}
