<div class="container">
  <ng-container *ngIf="gameResults">
    <table matSort (matSortChange)="sortData($event)" class="table table-striped">
      <thead>
      <tr>
        <th mat-sort-header="login">Login</th>
        <th mat-sort-header="score">Score</th>
        <!--<th mat-sort-header="fat">Fat (g)</th>
        <th mat-sort-header="carbs">Carbs (g)</th>
        <th mat-sort-header="protein">Protein (g)</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let singleResult of sortedData" [ngClass]="{'font-weight-bold':singleResult.id==10}">
        <td>{{singleResult.login}}</td>
        <td>{{singleResult.score}}</td>
        <!--<td>{{singleResult.fat}}</td>
        <td>{{singleResult.carbs}}</td>
        <td>{{singleResult.protein}}</td>-->
      </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-container *ngIf="question">
    <div class="form-control h-auto row mx-0 my-1 mt-5 p-4 border-dark border ">
      <div class="d-flex justify-content-end"><h5>00:00</h5></div>

      <div class="col p-md-3 d-flex justify-content-center">
        <div>
          <h2 class="text-center">{{question.content}}</h2>
        </div>

        <img *ngIf="question.imageId!=-1" class="img-preview-container img-preview"
             src="data:image/jpeg;base64,{{question.image.src}}"
             alt="Card image cap">
      </div>

      <div class="p-3 m-2">
        <div *ngIf="question.type=='TRUE_FALSE'" class="row">

          <div class="form-check col p-3 m-2">
            <label class="btn bg-light btn-block p-3">
              <input type="radio" class="form-check-input" name="optradio">True
            </label>
          </div>

          <div class="form-check col p-3 m-2">
            <label class="btn bg-light btn-block p-3">
              <input type="radio" class="form-check-input" name="optradio">False
            </label>
          </div>

        </div>

        <div *ngIf="question.type=='SELECT_OPTION'">
          <div class="row mx-0 d-flex justify-content-center"
               *ngFor="let questionOption of question.options;">

            <div class="form-check col p-1 md-2">
              <div *ngIf="questionOption.imageId!=-1">
                <img class="img-preview-container img-preview "
                     src="data:image/jpeg;base64,{{questionOption.image.src}}" alt="Card image cap">
              </div>

              <label class="btn bg-light btn-block p-3">
                <input type="radio" class="form-check-input" name="optradio">
                {{questionOption.content}}
              </label>
            </div>

          </div>
        </div>

        <div *ngIf="question.type=='ENTER_ANSWER'" class="form-group">
          <input type="text" class="form-control" placeholder="Enter your answer here">
        </div>

        <div *ngIf="question.type=='SELECT_SEQUENCE'">
          <div class="row mx-0" *ngFor="let questionOption of question.options">

            <div class="form-group row p-3 m-2 border border-light bg-light col">
              <div *ngIf="questionOption.imageId!=-1">
                <img class="img-preview-container img-preview "
                     src="data:image/jpeg;base64,{{questionOption.image.src}}" alt="Card image cap">
              </div>

              <select class="form-control col-1">
                <option *ngFor="let qo of question.options; let i = index">{{i + 1}}</option>
              </select>
              <label class="col">{{questionOption.content}}</label>
            </div>

          </div>
        </div>

      </div>

      <button type="button" (click)="nextQuestion()" class="btn btn-success btn-lg btn-block">Next ></button>

    </div>
  </ng-container>
</div>

