<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-10 text-justify">

      <!-- Title -->
      <div class="row">
        <div class="col-sm-10">
          <h1 class="mt-4">{{announcement.title}}</h1>
        </div>
        <div class="col-sm-1 mt-4">
          <div class="btn-group" aria-label="Basic example">
            <button class="btn btn-outline-secondary" routerLink="/announcement/{{announcement.id}}/edit">Edit</button>
            <button type="button" class="btn btn-outline-secondary">Delete</button>
          </div>
        </div>
      </div>


      <!-- Author -->
      <p class="lead">
        by {{announcement.authorLogin}}
      </p>

      <hr>

      <!-- Date/Time -->
      <p>Posted on {{announcement.createdDate}}</p>

      <hr>

      <!-- Preview Image -->
      <img *ngIf="announcement.image" class="img-fluid rounded" src="data:image/jpeg;base64,{{announcement.image.src}}">

      <hr>

      <!-- Post Content -->
      <p *ngIf="announcement.subtitle" class="lead">{{announcement.subtitle}}</p>

      <div *ngIf="announcement.fullText">
        {{announcement.fullText}}
      </div>

      <hr>
    </div>
  </div>
</div>
